<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>poolvr/config</title>

    <style>
      body {
        background-color: #000;
        color: #fff;
        margin: 0px;
        padding: 0;
        overflow: hidden;
      }
    </style>

{{ json_config }}

  </head>

  <body onLoad='onLoad()'>

    <code>
      {{ poolvr_config }}
    </code>

<!--
    <a id='save'>   Save config   </a>
    <a id='import'> Import config </a>
    <a id='export'> Export config </a>
 -->
    <script src="{{ url_for('static', filename='lib/three-r73.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/TextGeometry.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/FontUtils.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/VREffect.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/VRControls.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/webvr-polyfill.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/webvr-manager.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/ColladaLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/Primrose.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/cannon.js') }}"></script>

    <script src="{{ url_for('static', filename='three.py/js/three.py.js') }}"></script>
    <script src="{{ url_for('static', filename='src/WebVRApplication.js') }}"></script>

    <!-- TODO: -->
    <!-- <script src="{{ url_for('static', filename='src/Configurator.js') }}"></script> -->
<script>
var scene;
var app;
var avatar = new THREE.Object3D();

function onLoad() {
    scene = THREE.py.parse(JSON_SCENE);
    console.log(scene.type);
    console.log(scene);
    scene.scale.set(0.01, 0.01, 0.01);
    scene.add(avatar);
    app = new WebVRApplication('poolvr config', avatar, scene, POOLVR.config);
    avatar.add(app.camera);
    app.start(animate);
}

var animate = ( function () {
    var lt = 0;
    function animate(t) {
        "use strict";
        requestAnimationFrame(animate);
        var dt = (t - lt) * 0.001;
        lt = t;
        if (app.vrControls.enabled) {
            app.vrControls.update();
        }
        app.vrManager.render(app.scene, app.camera, t);
        // app.keyboard.update(dt);
        // app.gamepad.update(dt);
    }
    return animate;
} )();
</script>

  </body>
</html>
