<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="shortcut icon" href="favicon.ico">

    <title>poolvr</title>

    <style>
      body {
        width: 100%;
        height: 100%;
        background-color: #000;
        color: #fff;
        margin: 0px;
        padding: 0;
        overflow: hidden;
      }
    </style>

<!-- three.js scene definition is embedded here -->
{{ json_config if json_config else "" }}

  </head>

  <body onload="onLoad()">

    <script src="{{ 'bin/three-r73'      + js_suffix }}"></script>
    <script src="{{ 'bin/TextGeometry'   + js_suffix }}"></script>
    <script src="{{ 'bin/FontUtils'      + js_suffix }}"></script>

    <script src="{{ 'bin/VRControls'     + js_suffix }}"></script>
    <script src="{{ 'bin/VREffect'       + js_suffix }}"></script>

    <script src="{{ 'bin/webvr-polyfill' + js_suffix }}"></script>
    <script src="{{ 'bin/webvr-manager'  + js_suffix }}"></script>

    <script src="{{ 'bin/socket.io'      + js_suffix }}"></script>
    <script src="{{ 'bin/cannon'         + js_suffix }}"></script>
    <script src="{{ 'bin/leap-0.6.4'     + js_suffix }}"></script>

    <!-- enhanced version w/ tool tracking: -->
    <script src="{{ 'bin/leap.transform' + js_suffix }}"></script>

    <script src="{{ 'bin/ColladaLoader'  + js_suffix }}"></script>
    <script src="{{ 'bin/Primrose'       + js_suffix }}"></script>

    <script src="{{ 'bin/SPE'            + js_suffix }}"></script>

    <script src="fonts/Anonymous Pro_Regular.js"></script>
    <script src="fonts/helvetiker_regular.typeface.js"></script>

    <script src="{{ 'bin/poolvr' + js_suffix }}"></script>

  </body>
</html>
