<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>poolvr</title>

    <style>
      body {
        background-color: #000;
        color: #fff;
        margin: 0px;
        padding: 0;
        overflow: hidden;
      }
    </style>

{{ json_config if json_config else "" }}

  </head>

  <body onload="onLoad()">

    <script src="{{ url_for('static', filename='lib/three-r73'      + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/TextGeometry'   + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/FontUtils'      + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/ColladaLoader'  + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/VREffect'       + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/VRControls'     + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/webvr-polyfill' + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/webvr-manager'  + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='lib/socket.io'      + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/cannon'         + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='lib/leap-0.6.4'     + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='lib/Primrose'       + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='fonts/helvetiker_regular.typeface.js') }}"></script>
    <script src="{{ url_for('static', filename='fonts/helvetiker_bold.typeface.js') }}"></script>
    <script src="{{ url_for('static', filename='fonts/Anonymous Pro_Regular.js') }}"></script>

    <!-- enhanced version: -->
    <script src="{{ url_for('static', filename='src/leap.transform.js') }}"></script>
    <!-- original version: -->
    <!-- <script src="{{ url_for('static', filename='lib/leap.transform.js') }}"></script> -->

    <script src="{{ url_for('static', filename='src/LeapTools.js') }}"></script>
    <script src="{{ url_for('static', filename='src/pyserver.js') }}"></script>
    <script src="{{ url_for('static', filename='src/WebVRApplication.js') }}"></script>
    <script src="{{ url_for('static', filename='src/CrapLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='src/app.js') }}"></script>

  </body>
</html>
