body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
#overlay {
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
  padding: 0.5vh;
  color: #ffffff;
  background-color: rgba(20, 20, 50, 0.7);
}
h1 {
  font-size: 5.5vh;
  color: #b5e853;
}
h2 {
  font-size: 3.4vh;
  color: #b5e853;
}
h3 {
  font-size: 2.2vh;
}
h4 {
  font-size: 1.75vh;
  margin-left: 1vw;
}
p {
  font-size: 1.4vh;
  margin-left: 1.5vw;
}
#leapAddress, #profileName {
  margin: 2vh;
}
#leapIndicator {
  font-size: 3vh;
  text-align: center;
  margin-top: 1vh;
  padding: 0.25em;
  color: #b5e853;
  background-color: rgba(60, 20, 0, 0.6);
  box-sizing: border-box;
}
#start {
  font-size: 3vh;
  text-align: center;
  margin-top: 1vh;
  padding: 0.25em;
  color: #b5e853;
  background-color: rgba(111, 20, 20, 0.6);
  box-sizing: border-box;
}
#webgl-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 0;
}