body {
  background-color: #010101;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Anonymous Pro Regular", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
#overlay {
  position: absolute;
  left: 10px;
  top: 10px;
  margin: 0.1vh;
  padding: 0.1vh;
  color: #ffffff;
  background-color: rgba(20, 20, 50, 0.7);
}
h1 {
  font-size: 16pt;
  color: #b5e853;
}
h2 {
  font-size: 13pt;
  color: #b5e853;
}
h3 {
  font-size: 11pt;
}
h4 {
  font-size: 10pt;
  margin-left: 1vw;
}
p {
  font-size: 9pt;
  margin-left: 1.2vw;
}
label {
  font-size: 9pt;
}
button {
  font-family: monospace;
  font-size: 14pt;
  font-style: bold;
  text-align: center;
  padding: 0.2vh;
  color: #b5e853;
  background-color: rgba(111, 20, 20, 0.6);
  box-sizing: border-box;
}
a {
  font-family: monospace;
  font-size: 11pt;
  color: #feb;
  padding: 0.4vh;
}
#leapAddress, #profileName {
  margin: 0.2vh;
}
#leapIndicator {
  font-size: 12pt;
  /*position: relative;*/
  /*width: 50%;*/
  text-align: center;
  margin-top: 0.2vh;
  padding: 0.05em;
  box-sizing: border-box;
  color: #b5e853;
  background-color: rgba(60, 20, 0, 0.6);
}
#webgl-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 0;
}