<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="shortcut icon" href="favicon.ico">

    <title>poolvr</title>

    <link rel="stylesheet" href="poolvr.css">

{{ json_config }}

  </head>

  <body onload="onLoad()">

    <canvas id="webgl-canvas"></canvas>

    <div id="overlay">

      <table><tr>
        <td>
          <h1>poolvr</h1>
          {{ version_content if version_content else '' }}
        </td>
      </tr></table>

      <h2>
        <button id="vrButton">toggle VR</button>
        <button id="fsButton">toggle fullscreen</button>
      </h2>

      <div class="panel" id="graphicsPanel" style="float: left">
      <h3>Graphics:</h3>
        <label>
          <input type="checkbox" id="useBasicMaterials"/>
          EGA mode (max performance)
        </label>
        <br>
        <label>
          <input type="checkbox" id="useSpotLight"/>
          Spot light
        </label>
        <label>
          <input type="checkbox" id="usePointLight"/>
          Point light
        </label>
        <br>
        <label>
          <input type="checkbox" id="useShadowMap"/>
          Shadow maps
        </label>
      </div>

      <div class="panel" id="leapPanel" style="float: left">
        <h3>Leap Motion:</h3>
        <label>
          Websocket address:
          <input id="leapAddress" type="text" maxlength="18" />
        </label>
        <span id="leapIndicator">
          disconnected
        </span>
      </div>

      {{ extra_overlay_content if extra_overlay_content else "" }}

    </div>

{% if config['DEBUG'] %}
    <script src="node_modules/three/build/three.js"></script>
{% else %}
    <script src="node_modules/three/build/three.min.js"></script>
{% endif %}
    <script src="node_modules/three/examples/js/effects/VREffect.js"></script>
    <script src="node_modules/three/examples/js/controls/VRControls.js"></script>
    <script src="node_modules/three/examples/js/objects/ShadowMesh.js"></script>
    <script src="node_modules/three/examples/js/loaders/OBJLoader.js"></script>

    <script src="node_modules/stats.js/build/stats.min.js"></script>

    <script src="node_modules/leapjs/leap-0.6.4.min.js"></script>

    <script src="node_modules/webvr-polyfill/build/webvr-polyfill.js"></script>

    <script src="node_modules/cannon/build/cannon.min.js"></script>

    <script src="node_modules/three.py/js/three.py.js"></script>
    <script src="node_modules/three.py/js/CANNONize.js"></script>

{% if config['DEBUG'] %}
    <script src="build/poolvr.js"></script>
{% else %}
    <script src="build/poolvr.min.js"></script>
{% endif %}

  </body>

</html>
