<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="shortcut icon" href="favicon.ico">

    <title>poolvr</title>

    <link rel="stylesheet" href="poolvr.css">

{{ json_config }}

  </head>

  <body onload="onLoad()">

    <canvas id="webgl-canvas"></canvas>

    <div id="overlay">

      <h1>poolvr</h1>

      {% if version_id %}
      <h2>{{ version_id }}</h2>
      {% endif %}

      <h2>
      <button id="vrButton">toggle VR</button>
      <button id="fsButton">toggle fullscreen</button>
      </h2>

      <h2>Configuration:</h2>

      <h3>
      <button id='loadProfileButton'>LOAD PROFILE</button>
      <button id='saveProfileButton'>SAVE PROFILE</button>
      <label>
        Profile name:
        <input id="profileName" type="text" maxlength="30" required/>
      </label>
      </h3>


      <label>
        <input type="checkbox" id="useBasicMaterials"/>
        EGA mode (max performance)
      </label>

      <br>

      <label>
        <input type="checkbox" id="useSpotLight"/>
        Spot light
      </label>
      <label>
        <input type="checkbox" id="usePointLight"/>
        Point light
      </label>

      <br>

      <label>
        <input type="checkbox" id="useShadowMap"/>
        Shadow maps
      </label>

      <br>

      <div id="leapIndicator">disconnected</div>

      <label>
        Leap websocket address:
        <input id="leapAddress" type="text" maxlength="20" />
      </label>

      <br>

      <button id="clearProfileButton">Reset profile options to DEFAULTS</button>

    </div>


{% if config['DEBUG'] %}

    <script src="node_modules/three.js/build/three.min.js"></script>
    <script src="node_modules/three.js/examples/js/effects/VREffect.js"></script>
    <script src="node_modules/three.js/examples/js/controls/VRControls.js"></script>
    <script src="node_modules/three.js/examples/js/objects/ShadowMesh.js"></script>

    <script src="node_modules/leapjs/leap-0.6.4.js"></script>

    <script src="node_modules/webvr-polyfill/build/webvr-polyfill.js"></script>

    <script src="node_modules/cannon/build/cannon.min.js"></script>

    <script src="lib/rstats/rStats.js"></script>
    <script src="lib/rstats/rStats.extras.js"></script>

    <script src="node_modules/yawvrb/build/yawvrb.js"></script>

    <script src="node_modules/three.py/js/three.py.js"></script>
    <script src="node_modules/three.py/js/CANNONize.js"></script>

    <script src="build/poolvr.js"></script>

{% else %}

    <script src="lib/three.min.js"></script>
    <script src="lib/VREffect.js"></script>
    <script src="lib/VRControls.js"></script>
    <script src="lib/ShadowMesh.js"></script>

    <script src="lib/leap-0.6.4.min.js"></script>

    <script src="lib/webvr-polyfill.js"></script>

    <script src="lib/cannon.min.js"></script>

    <script src="lib/rstats/rStats.js"></script>
    <script src="lib/rstats/rStats.extras.js"></script>

    <script src="node_modules/yawvrb/build/yawvrb.js"></script>

    <script src="build/poolvr.min.js"></script>

{% endif %}

  </body>

</html>
