<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>poolvr/config</title>

    <style>
    html {
      font-size: 150%;
    }
    </style>

{{ json_config if json_config else "" }}

  </head>

  <body>

  <blockquote>
  <code>
    {{ poolvr_config }}
  </code>
  </blockquote>

  <a id='save config'>
  <a id='import config'>
  <a id='export config'>

  </body>

</html>
