<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>poolvr</title>

    <style>
      body {
        background-color: #000;
/*
        color: #fff;
        margin: 0px;
        padding: 0;
*/
        overflow: hidden;
      }
    </style>

<!-- three.js scene definition is embedded here -->
{{ json_config if json_config else "" }}

  </head>

  <body onload="onLoad()">

    <script src="{{ url_for('static', filename='bin/three-r73'      + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='bin/TextGeometry'   + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='bin/FontUtils'      + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='bin/VREffect'       + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='bin/VRControls'     + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='bin/webvr-polyfill' + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='bin/webvr-manager'  + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='bin/socket.io'      + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='bin/cannon'         + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='bin/leap-0.6.4'     + js_suffix) }}"></script>

    <!-- enhanced version w/ tool tracking: -->
    <script src="{{ url_for('static', filename='bin/leap.transform' + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='bin/ColladaLoader'  + js_suffix) }}"></script>
    <script src="{{ url_for('static', filename='bin/Primrose'       + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='bin/SPE' + js_suffix) }}"></script>

    <script src="{{ url_for('static', filename='fonts/Anonymous Pro_Regular.js'      ) }}"></script>
    <script src="{{ url_for('static', filename='fonts/helvetiker_regular.typeface.js') }}"></script>

    <script src="{{ url_for('static', filename='bin/poolvr' + js_suffix) }}"></script>

  </body>
</html>
