<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" href="/favicon.ico">

    <title>poolvr</title>

    <style>
      body {
        background-color: #000;
        color: #fff;
        margin: 0px;
        padding: 0;
        overflow: hidden;
      }
    </style>

<!-- three.js scene definition is embedded here -->
<script>
var POOLVR_VERSION = "poolvr-0.1.0";
var POOLVR_CONFIG = {
  "oldBoilerplate": false, 
  "backgroundColor": 0.0, 
  "shadowMap": null, 
  "useBasicMaterials": true, 
  "gravity": 9.8, 
  "gamepadControlsEnabled": true, 
  "leapHandsDisabled": null, 
  "useLambertMaterials": null, 
  "usePhongMaterials": null, 
  "leapDisabled": null, 
  "pointLight": null, 
  "mouseControlsEnabled": false, 
  "showMousePointerOnLock": false
};
var JSON_SCENE = {
  "textures": [
    {
      "minFilter": 1008, 
      "uuid": "b0797f95-a49f-413e-88fc-7bf49150e90c", 
      "image": "eaf7597a-2153-4de3-a120-ff6b2c2c85b3", 
      "mapping": 300, 
      "repeat": [
        40, 
        40
      ], 
      "anisotropy": 1, 
      "wrap": [
        1000, 
        1000
      ], 
      "type": "Texture", 
      "magFilter": 1006, 
      "name": "unnamed Texture 5"
    }
  ], 
  "images": [
    {
      "url": "images/deck.png", 
      "type": "Image", 
      "uuid": "eaf7597a-2153-4de3-a120-ff6b2c2c85b3", 
      "name": "unnamed Image 5"
    }
  ], 
  "object": {
    "matrix": [
      1.0, 
      0.0, 
      0.0, 
      0.0, 
      0.0, 
      1.0, 
      0.0, 
      0.0, 
      0.0, 
      0.0, 
      1.0, 
      0.0, 
      0.0, 
      0.0, 
      0.0, 
      1.0
    ], 
    "children": [
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Plane"
            ], 
            "mass": 0
          }
        }, 
        "matrix": [
          10.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          10.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0
        ], 
        "geometry": "070a0fae-9e38-4b8c-8d41-f2659fe6f235", 
        "material": "4a6185a6-ebb4-4008-a8f4-8cdeba933d60", 
        "name": "floor", 
        "type": "Mesh", 
        "children": [], 
        "uuid": "27f79dfe-ce44-41ee-a3d6-6755735c5719"
      }, 
      {
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0
        ], 
        "children": [
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "Box"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.371475, 
              0.0, 
              1.0
            ], 
            "geometry": "39c8bf4f-06ad-4c06-83e4-1fc65bc707c3", 
            "material": "bf33c16d-b6a0-472f-952a-b279602afdc8", 
            "name": "playableSurfaceMesh", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "bc97d1ed-8150-4fd5-b320-1a4fcb7f1c6d"
          }, 
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              0.74315, 
              0.5842, 
              1.0
            ], 
            "geometry": "37b1e23a-f096-4407-9147-923062169fce", 
            "material": "d09a9ab5-2f12-4d1e-9d89-d027aa44fdee", 
            "name": "unnamed Mesh 45", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "1d357384-d488-46fa-a994-400574b54b60"
          }, 
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "ConvexPolyhedron"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.74295, 
              1.143, 
              1.0
            ], 
            "geometry": "4649aa6a-ca17-477f-886d-a2db2fc6d721", 
            "material": "91ab5889-ec29-4278-a112-76cd3809a15e", 
            "name": "unnamed Mesh 46", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "32feac20-bf7f-403e-be1e-6ec5d82342e7"
          }, 
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "ConvexPolyhedron"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              -1.0, 
              0.0, 
              -1.2246467991473532e-16, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              1.2246467991473532e-16, 
              0.0, 
              -1.0, 
              0.0, 
              0.0, 
              0.74295, 
              -1.143, 
              1.0
            ], 
            "geometry": "4649aa6a-ca17-477f-886d-a2db2fc6d721", 
            "material": "91ab5889-ec29-4278-a112-76cd3809a15e", 
            "name": "unnamed Mesh 47", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "90b57041-0b16-461d-aec8-9ecdad8bf663"
          }, 
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "ConvexPolyhedron"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              6.123233995736766e-17, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              -1.0, 
              0.0, 
              6.123233995736766e-17, 
              0.0, 
              -0.5588000000000001, 
              0.74295, 
              0.5842, 
              1.0
            ], 
            "geometry": "4649aa6a-ca17-477f-886d-a2db2fc6d721", 
            "material": "91ab5889-ec29-4278-a112-76cd3809a15e", 
            "name": "unnamed Mesh 48", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "fa2a2606-bf10-4f8a-9f98-3b2d4ee5507d"
          }, 
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "ConvexPolyhedron"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              6.123233995736766e-17, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              -1.0, 
              0.0, 
              6.123233995736766e-17, 
              0.0, 
              -0.5588000000000001, 
              0.74295, 
              -0.5842, 
              1.0
            ], 
            "geometry": "4649aa6a-ca17-477f-886d-a2db2fc6d721", 
            "material": "91ab5889-ec29-4278-a112-76cd3809a15e", 
            "name": "unnamed Mesh 49", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "a369319c-3844-4031-a36b-6ae09733825d"
          }, 
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "ConvexPolyhedron"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              6.123233995736766e-17, 
              0.0, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              6.123233995736766e-17, 
              0.0, 
              0.5588000000000001, 
              0.74295, 
              0.5842, 
              1.0
            ], 
            "geometry": "4649aa6a-ca17-477f-886d-a2db2fc6d721", 
            "material": "91ab5889-ec29-4278-a112-76cd3809a15e", 
            "name": "unnamed Mesh 50", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "6f8506b1-1568-4684-87ff-b5374734be04"
          }, 
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "ConvexPolyhedron"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              6.123233995736766e-17, 
              0.0, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              6.123233995736766e-17, 
              0.0, 
              0.5588000000000001, 
              0.74295, 
              -0.5842, 
              1.0
            ], 
            "geometry": "4649aa6a-ca17-477f-886d-a2db2fc6d721", 
            "material": "91ab5889-ec29-4278-a112-76cd3809a15e", 
            "name": "unnamed Mesh 51", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "4d2bed40-9ce9-4930-a85b-d2a1705ec1a9"
          }, 
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "Box"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.761095125, 
              1.2192, 
              1.0
            ], 
            "geometry": "3029c3b0-2131-48af-ac27-7ddb71343884", 
            "material": "65e967b6-955a-4f84-a8a5-55980cc23642", 
            "name": "unnamed Mesh 52", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "77562ce6-b2cc-43de-9068-b0fc4d8c16f1"
          }, 
          {
            "userData": {
              "cannonData": {
                "shapes": [
                  "Box"
                ], 
                "mass": 0
              }
            }, 
            "matrix": [
              -1.0, 
              0.0, 
              -1.2246467991473532e-16, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              1.2246467991473532e-16, 
              0.0, 
              -1.0, 
              0.0, 
              0.0, 
              0.761095125, 
              -1.2192, 
              1.0
            ], 
            "geometry": "3029c3b0-2131-48af-ac27-7ddb71343884", 
            "material": "65e967b6-955a-4f84-a8a5-55980cc23642", 
            "name": "unnamed Mesh 53", 
            "type": "Mesh", 
            "children": [], 
            "receiveShadow": true, 
            "uuid": "19c5d3c9-7a43-49e0-9870-c795fe584535"
          }
        ], 
        "type": "Object3D", 
        "uuid": "91c1b778-e461-4aad-88e7-bb5dcd25ce5b", 
        "name": "poolTable"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.771625, 
          0.5842, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
        "name": "ballMesh 0", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 0", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "3a364934-0867-43d0-9141-ab7ce0c793e0"
          }
        ], 
        "uuid": "385a7d59-bfaa-454d-962d-eb9eae46e3ac"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          -0.46736000000000005, 
          0.771625, 
          -0.9347200000000001, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "32fed1d1-a7ff-43b6-958c-4464f143e66c", 
        "name": "ballMesh 1", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 1", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "4cc78df0-d9d6-426b-b03c-3ae89ed366f1"
          }
        ], 
        "uuid": "cafc72bc-d093-4974-b58c-d7160a667311"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          -0.40059428571428574, 
          0.771625, 
          -0.8011885714285715, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "715a9e0f-b1f7-4957-a335-f31ce7374731", 
        "name": "ballMesh 2", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 2", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "526a5560-bc95-4862-bee2-82d8d3674cf5"
          }
        ], 
        "uuid": "62b9e4b1-6bbe-42a8-a9fa-d4c48f4284f9"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          -0.3338285714285715, 
          0.771625, 
          -0.667657142857143, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "0754dcba-16e5-4d6a-ad4d-ed36473b52b8", 
        "name": "ballMesh 3", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 3", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "978ec3c0-2213-4c5d-880b-7d7f82ffc3b8"
          }
        ], 
        "uuid": "9ad75232-bb3d-4891-96b5-011e95215ddc"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          -0.2670628571428572, 
          0.771625, 
          -0.5341257142857144, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "ef27e843-7b28-4ecd-884a-04c6c5e621da", 
        "name": "ballMesh 4", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 4", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "35cc8f58-a006-406b-b717-db045b20d0e3"
          }
        ], 
        "uuid": "0524e468-4844-477a-9cc1-b991826d3675"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          -0.20029714285714287, 
          0.771625, 
          -0.40059428571428574, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "035b3a6d-9257-4992-a4fd-a4d6b6c1cc4d", 
        "name": "ballMesh 5", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 5", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "1d0363c0-af1d-4219-b536-cea53d3339c9"
          }
        ], 
        "uuid": "2fba74d3-4d02-4d36-a21c-ae68e77ba0e2"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          -0.13353142857142855, 
          0.771625, 
          -0.2670628571428571, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "ebf87b4f-fcf4-4db3-a53c-15bf42779e4e", 
        "name": "ballMesh 6", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 6", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "639f3dc1-89a6-43da-bac6-4eee58483bb0"
          }
        ], 
        "uuid": "46c2e071-f198-4cf2-ac74-ab7005e355f1"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          -0.06676571428571432, 
          0.771625, 
          -0.13353142857142863, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "ee028d77-57ed-4e95-b96b-355e6670da6e", 
        "name": "ballMesh 7", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 7", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "86b8b873-7700-41de-8ac5-afa5c2d29dc2"
          }
        ], 
        "uuid": "3acef492-e241-4429-a899-8d6924e98266"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.771625, 
          0.0, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "7022b8bb-dac2-47a3-ae0f-22040c7f613f", 
        "name": "ballMesh 8", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 8", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "5774d3f9-4195-43fd-8b69-98fb6f50c33d"
          }
        ], 
        "uuid": "14bf2727-59b3-4836-83f6-e3f9a530553b"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.06676571428571432, 
          0.771625, 
          0.13353142857142863, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
        "name": "ballMesh 9", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0
            ], 
            "name": "ballStripeMesh 9", 
            "geometry": "e118481b-493e-4429-a46a-7c878f0ac6d7", 
            "material": "32fed1d1-a7ff-43b6-958c-4464f143e66c", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "68215720-4c38-4171-9729-436f851accde"
          }, 
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 9", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "56a92a6e-239d-4cc4-839e-6d2080ca2812"
          }
        ], 
        "uuid": "d40480ad-36d3-407e-a272-99411dd52f10"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.13353142857142863, 
          0.771625, 
          0.26706285714285727, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
        "name": "ballMesh 10", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0
            ], 
            "name": "ballStripeMesh 10", 
            "geometry": "e118481b-493e-4429-a46a-7c878f0ac6d7", 
            "material": "715a9e0f-b1f7-4957-a335-f31ce7374731", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "50467c53-af6f-4743-b87d-e600763d3b3c"
          }, 
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 10", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "04131988-1904-478a-9b6e-2962ceb97e4d"
          }
        ], 
        "uuid": "bd738232-32b6-4e67-b006-d985bfedc81c"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.20029714285714295, 
          0.771625, 
          0.4005942857142859, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
        "name": "ballMesh 11", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0
            ], 
            "name": "ballStripeMesh 11", 
            "geometry": "e118481b-493e-4429-a46a-7c878f0ac6d7", 
            "material": "0754dcba-16e5-4d6a-ad4d-ed36473b52b8", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "3e7efdc3-c0bb-4cc8-abe8-ec94476e3bea"
          }, 
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 11", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "2c7532dd-6c43-4122-b50b-3f3770968453"
          }
        ], 
        "uuid": "5f7c81de-f699-4933-a25a-56de3fcb4b2a"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.2670628571428572, 
          0.771625, 
          0.5341257142857144, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
        "name": "ballMesh 12", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0
            ], 
            "name": "ballStripeMesh 12", 
            "geometry": "e118481b-493e-4429-a46a-7c878f0ac6d7", 
            "material": "ef27e843-7b28-4ecd-884a-04c6c5e621da", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "ddddc217-63b6-4815-a6ad-6902069ba4dc"
          }, 
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 12", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "adab5ecb-3b89-4337-82c0-a612fb5d4143"
          }
        ], 
        "uuid": "2f8a62c1-d2cc-430d-9446-f5aa1f4df0fb"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.3338285714285714, 
          0.771625, 
          0.6676571428571428, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
        "name": "ballMesh 13", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0
            ], 
            "name": "ballStripeMesh 13", 
            "geometry": "e118481b-493e-4429-a46a-7c878f0ac6d7", 
            "material": "035b3a6d-9257-4992-a4fd-a4d6b6c1cc4d", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "00205c8c-031e-447d-8ddc-9a8f15c7e650"
          }, 
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 13", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "6b2b4d3f-a01a-4c8b-813e-444fb4ea756d"
          }
        ], 
        "uuid": "75989e4f-098e-4a65-8caa-8e2ae4161b63"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.40059428571428574, 
          0.771625, 
          0.8011885714285715, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
        "name": "ballMesh 14", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0
            ], 
            "name": "ballStripeMesh 14", 
            "geometry": "e118481b-493e-4429-a46a-7c878f0ac6d7", 
            "material": "ebf87b4f-fcf4-4db3-a53c-15bf42779e4e", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "b30b3f0a-4d9e-472c-85ee-9782b97fc156"
          }, 
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 14", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "dea15602-8f91-41ac-8385-ead708c239d5"
          }
        ], 
        "uuid": "5d0de5c2-2638-4afa-b4d6-ed684fee86f5"
      }, 
      {
        "userData": {
          "cannonData": {
            "shapes": [
              "Sphere"
            ], 
            "mass": 0.17
          }
        }, 
        "matrix": [
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.0, 
          0.0, 
          0.0, 
          1.0, 
          0.0, 
          0.46736000000000005, 
          0.771625, 
          0.9347200000000001, 
          1.0
        ], 
        "geometry": "aaef4194-806b-4ce2-abf6-1453e7441856", 
        "material": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
        "name": "ballMesh 15", 
        "castShadow": true, 
        "type": "Mesh", 
        "children": [
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              1.0
            ], 
            "name": "ballStripeMesh 15", 
            "geometry": "e118481b-493e-4429-a46a-7c878f0ac6d7", 
            "material": "ee028d77-57ed-4e95-b96b-355e6670da6e", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "24336346-c50d-46c4-ae4a-5d18ccd2099e"
          }, 
          {
            "matrix": [
              1.0, 
              0.0, 
              0.0, 
              0.0, 
              0.0, 
              6.123233995736766e-17, 
              -1.0, 
              0.0, 
              0.0, 
              1.0, 
              6.123233995736766e-17, 
              0.0, 
              0.0, 
              -0.027575, 
              0.0, 
              1.0
            ], 
            "name": "ballShadowMesh 15", 
            "geometry": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
            "material": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
            "type": "Mesh", 
            "children": [], 
            "uuid": "7575885f-42b9-4625-93c1-749da13af0d4"
          }
        ], 
        "uuid": "249798e8-85a3-4e68-8909-557f7e30eb9b"
      }
    ], 
    "type": "Scene", 
    "uuid": "86600acc-cc05-4aec-9861-8fd21d3a3b9c", 
    "name": "unnamed Scene 5"
  }, 
  "geometries": [
    {
      "radius": 0.028575, 
      "uuid": "aaef4194-806b-4ce2-abf6-1453e7441856", 
      "heightSegments": 12, 
      "widthSegments": 16, 
      "type": "SphereBufferGeometry", 
      "name": "unnamed SphereBufferGeometry 10"
    }, 
    {
      "thetaStart": 0.7853981633974483, 
      "thetaLength": 1.5707963267948966, 
      "uuid": "e118481b-493e-4429-a46a-7c878f0ac6d7", 
      "heightSegments": 6, 
      "widthSegments": 16, 
      "radius": 0.029718, 
      "type": "SphereBufferGeometry", 
      "name": "unnamed SphereBufferGeometry 11"
    }, 
    {
      "data": {
        "attributes": {
          "position": {
            "itemSize": 3, 
            "type": "Float32Array", 
            "array": [
              -0.5334000000000001, 
              0.0, 
              0.0254, 
              -0.5334000000000001, 
              0.03629025, 
              0.0254, 
              -0.46155795103144687, 
              0.03629025, 
              -0.0254, 
              0.5334000000000001, 
              0.0, 
              0.0254, 
              0.5334000000000001, 
              0.03629025, 
              0.0254, 
              0.46155795103144687, 
              0.03629025, 
              -0.0254
            ]
          }
        }, 
        "index": {
          "itemSize": 1, 
          "type": "Uint32Array", 
          "array": [
            0, 
            1, 
            2, 
            5, 
            4, 
            3, 
            3, 
            4, 
            1, 
            3, 
            1, 
            0, 
            4, 
            5, 
            2, 
            4, 
            2, 
            1, 
            5, 
            3, 
            0, 
            5, 
            0, 
            2
          ]
        }
      }, 
      "type": "BufferGeometry", 
      "uuid": "4649aa6a-ca17-477f-886d-a2db2fc6d721", 
      "name": "unnamed PrismBufferGeometry 5"
    }, 
    {
      "radius": 0.028575, 
      "segments": 8, 
      "type": "CircleBufferGeometry", 
      "uuid": "37b1e23a-f096-4407-9147-923062169fce", 
      "name": "spotGeom"
    }, 
    {
      "radius": 0.028575, 
      "segments": 16, 
      "type": "CircleBufferGeometry", 
      "uuid": "c39b7a60-4f89-4afd-90fa-38a81833c625", 
      "name": "shadowGeom"
    }, 
    {
      "data": {
        "attributes": {
          "position": {
            "itemSize": 3, 
            "type": "Float32Array", 
            "array": [
              -0.5, 
              0.0, 
              -0.5, 
              -0.5, 
              0.0, 
              0.5, 
              0.5, 
              0.0, 
              0.5, 
              0.5, 
              0.0, 
              -0.5
            ]
          }, 
          "uv": {
            "itemSize": 2, 
            "type": "Float32Array", 
            "array": [
              0, 
              1, 
              0, 
              0, 
              1, 
              0, 
              1, 
              1
            ]
          }
        }, 
        "index": {
          "itemSize": 1, 
          "type": "Uint32Array", 
          "array": [
            0, 
            1, 
            2, 
            0, 
            2, 
            3
          ]
        }
      }, 
      "type": "BufferGeometry", 
      "uuid": "070a0fae-9e38-4b8c-8d41-f2659fe6f235", 
      "name": "unnamed QuadBufferGeometry 0"
    }, 
    {
      "uuid": "39c8bf4f-06ad-4c06-83e4-1fc65bc707c3", 
      "heightSegments": 1, 
      "widthSegments": 1, 
      "height": 0.74295, 
      "width": 1.0668000000000002, 
      "depth": 2.2352000000000003, 
      "depthSegments": 1, 
      "type": "BoxGeometry", 
      "name": "unnamed BoxGeometry 10"
    }, 
    {
      "uuid": "3029c3b0-2131-48af-ac27-7ddb71343884", 
      "heightSegments": 1, 
      "widthSegments": 1, 
      "height": 0.03629025, 
      "width": 1.0668000000000002, 
      "depth": 0.1016, 
      "depthSegments": 1, 
      "type": "BoxGeometry", 
      "name": "unnamed BoxGeometry 11"
    }
  ], 
  "materials": [
    {
      "color": 15628032, 
      "type": "MeshBasicMaterial", 
      "uuid": "035b3a6d-9257-4992-a4fd-a4d6b6c1cc4d", 
      "name": "unnamed MeshBasicMaterial 81"
    }, 
    {
      "color": 14540254, 
      "type": "MeshBasicMaterial", 
      "uuid": "5f065fc9-3cbe-4973-9182-45afe2b7bd3b", 
      "name": "unnamed MeshBasicMaterial 76"
    }, 
    {
      "color": 16777215, 
      "map": "b0797f95-a49f-413e-88fc-7bf49150e90c", 
      "type": "MeshBasicMaterial", 
      "uuid": "4a6185a6-ebb4-4008-a8f4-8cdeba933d60", 
      "name": "unnamed MeshBasicMaterial 70"
    }, 
    {
      "color": 11184810, 
      "type": "MeshBasicMaterial", 
      "uuid": "d09a9ab5-2f12-4d1e-9d89-d027aa44fdee", 
      "name": "unnamed MeshBasicMaterial 73"
    }, 
    {
      "color": 174080, 
      "type": "MeshBasicMaterial", 
      "uuid": "91ab5889-ec29-4278-a112-76cd3809a15e", 
      "name": "unnamed MeshBasicMaterial 72"
    }, 
    {
      "color": 8704, 
      "type": "MeshBasicMaterial", 
      "uuid": "333f9341-ca4d-4aa3-bb57-a2b6a2e487d4", 
      "name": "unnamed MeshBasicMaterial 75"
    }, 
    {
      "color": 60928, 
      "type": "MeshBasicMaterial", 
      "uuid": "ebf87b4f-fcf4-4db3-a53c-15bf42779e4e", 
      "name": "unnamed MeshBasicMaterial 82"
    }, 
    {
      "color": 15597806, 
      "type": "MeshBasicMaterial", 
      "uuid": "ef27e843-7b28-4ecd-884a-04c6c5e621da", 
      "name": "unnamed MeshBasicMaterial 80"
    }, 
    {
      "color": 15597568, 
      "type": "MeshBasicMaterial", 
      "uuid": "0754dcba-16e5-4d6a-ad4d-ed36473b52b8", 
      "name": "unnamed MeshBasicMaterial 79"
    }, 
    {
      "color": 14525440, 
      "type": "MeshBasicMaterial", 
      "uuid": "65e967b6-955a-4f84-a8a5-55980cc23642", 
      "name": "unnamed MeshBasicMaterial 74"
    }, 
    {
      "color": 238, 
      "type": "MeshBasicMaterial", 
      "uuid": "715a9e0f-b1f7-4957-a335-f31ce7374731", 
      "name": "unnamed MeshBasicMaterial 78"
    }, 
    {
      "color": 15658496, 
      "type": "MeshBasicMaterial", 
      "uuid": "32fed1d1-a7ff-43b6-958c-4464f143e66c", 
      "name": "unnamed MeshBasicMaterial 77"
    }, 
    {
      "color": 12264004, 
      "type": "MeshBasicMaterial", 
      "uuid": "ee028d77-57ed-4e95-b96b-355e6670da6e", 
      "name": "unnamed MeshBasicMaterial 83"
    }, 
    {
      "color": 1118481, 
      "type": "MeshBasicMaterial", 
      "uuid": "7022b8bb-dac2-47a3-ae0f-22040c7f613f", 
      "name": "unnamed MeshBasicMaterial 84"
    }, 
    {
      "color": 43520, 
      "type": "MeshBasicMaterial", 
      "uuid": "bf33c16d-b6a0-472f-952a-b279602afdc8", 
      "name": "unnamed MeshBasicMaterial 71"
    }
  ]
};
</script>

  </head>

  <body onload="onLoad()">

    <script src="bin/three-r73.min.js"></script>
    <script src='bin/TextGeometry.min.js'></script>
    <script src='bin/FontUtils.min.js'></script>

    <script src='bin/VREffect.min.js'></script>
    <script src='bin/VRControls.min.js'></script>


    <script src="bin/webvr-polyfill.min.js"></script>
    <script src="bin/webvr-manager.min.js"></script>


    <script src="bin/socket.io.min.js"></script>
    <script src="bin/cannon.min.js"></script>
    <script src="bin/leap-0.6.4.min.js"></script>

    <script src="bin/ColladaLoader.min.js"></script>
    <script src="bin/Primrose.min.js"></script>

    <!-- enhanced version w/ tool tracking: -->
    <script src="bin/leap.transform.min.js"></script>

    <script src="fonts/helvetiker_regular.typeface.js"></script>
    <script src="fonts/Anonymous Pro_Regular.js"></script>

    <script src="bin/poolvr.min.js"></script>

  </body>
</html>
