<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>poolvr</title>

    <style>
      body {
        background-color: #000;
        color: #fff;
        margin: 0px;
        padding: 0;
        overflow: hidden;
      }
    </style>

<!-- three.js scene definition is embedded here -->
{{ json_config if json_config else "" }}

  </head>

  <body onload="onLoad()">

    <script src="bin/three-r73.js"></script>
    <script src="bin/TextGeometry.js"></script>
    <script src="bin/FontUtils.js"></script>

    <script src="bin/VREffect.js"></script>
    <script src="bin/VRControls.js"></script>

    <script src="bin/webvr-polyfill.js"></script>
    <script src="bin/webvr-manager.js"></script>

    <script src="bin/socket.io.js"></script>
    <script src="bin/cannon.js"></script>
    <script src="bin/leap-0.6.4.js"></script>

    <script src="bin/ColladaLoader.js"></script>
    <script src="bin/Primrose.js"></script>

    <!-- enhanced version w/ tool tracking: -->
    <script src="bin/leap.transform.js"></script>

    <script src="fonts/helvetiker_regular.typeface.js"></script>
    <script src="fonts/Anonymous Pro_Regular.js"></script>

    <script src="bin/poolvr.js"></script>

  </body>
</html>
